* {
    border: 0;
    padding: 0;
}


/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 80%; /* The width is the 60% of the width of the web page */
  }
