* {
    box-sizing: border-box;
    padding: 0;
}



#searchForm {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    font-size: 2rem;
    width: 100%;
    border-radius: 25px;
    background-color: #d98e32;
    border: 4px solid;
    box-shadow: 5px 10px 18px red;
    font-weight: 300%;
    
}
.searchForm .submitBtn {
  background-color: #04AA6D;
  border: 3px solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.searchCriteria option {
    border-radius: 25px;
}
.flipswitch {
    position: relative;
    background: white;
    width: 120px;
    height: 40px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  
  .flipswitch:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 32px;
    width: 45%;
    height: 90%;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 3px;
  }
  
  .flipswitch:after {
    left: 2%;
    content: "OFF";
  }
  
  .flipswitch:checked:after {
    left: 53%;
    content: "ON";