* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: serif;
}
#searchForm {
    padding: 0px;
    font-size: 1rem;
    width: 100%;
    border-radius: 25px;
    background-color: #2414d2;
    border: 4px solid;
    font-weight: 300%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#searchForm button {
  background-color: #000000;
  border: 3px solid black;
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


/*-----------------CAROUSEL STYLE STARTS-----------------*/

#image-container .slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b06ff;
  background-size: cover;
}

#image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
  margin: 0 5px;
}

 /* ----------------HEADER STYLE STARTS-------------------- */

header {
  padding: 8px 15px;
  background-color: #1b06ff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-position: 80%;*/
}
.companyName {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #4738ee;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

header h1 h3 {
  color: black;
  margin: 0;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
header a {
  text-decoration: none;
  /*color: var(--primary-color);*/
}
header nav {
 
  margin: 7px 0;
}

.logo {
  max-width: 200px;
  border-radius: 50px;
}
p {
  color: #cdc70f;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}

/*------------------------ GOOGLE MAPS styles STARTS---------------- */

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 80%; /* The width is the 80% of the width of the web page */
    margin: 0 auto;
    border: 1px solid black;
  }
.text-shadow {
  text-shadow: 2px 2px black;
}

.explore {
  background-color: blue;
  color: white;
  padding: 20px;
}


/*------------------------ FORECAST styles start-------------------- */
.box {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

@media (min-width: 640px) {
  .box {
    height: 300px;
  }
}

.box h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
}

/*------------------------  NEWS styles start-------------------- */

#news {
  background-color: #1b06ff;
  color: black;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 25px;
}
#news {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
}

/*------------------------ footer styles start-------------------- */

footer {
  background: #2330eb;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #024e76;
}

 /*---------------------- Style the modal content --------------------------------*/
.modal {
  display: none; 
  position: fixed; /* Position it in the middle of the screen */
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Add a semi-transparent background */
}
.signUp {
  background-color: #e81010;
  border: 3px solid black;
  padding: 5px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#open-modal-btn {
  background-color: #e81010;
  border: 3px solid black;
  padding: 5px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: x-large;
}


.modal-content {
  background-color: #d14242;
  margin: 10% auto; /* Center it vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}



/* ---------------------------------Style the close button---------------------------------------- */
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------------------------MEDIA QUERIES----------------------------------------*/

/* Adjust button container width for smaller screens */
@media only screen and (max-width: 768px) {
  #button-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  button {
    font-size: 14px;
  }
}
/* Adjust button width for smaller screens */
@media only screen and (max-width: 576px) {
  .button {
    width: 100%;
  }
}
@media (max-width: 480px) {
  
}

  
  
  
