* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#searchForm {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    font-size: 2rem;
    width: 100%;
    border-radius: 25px;
    background-color: #d98e32;
    border: 4px solid;
    box-shadow: 5px 10px 18px red;
    font-weight: 300%;
    
}
#searchForm button {
  background-color: #04AA6D;
  border: 3px solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
 /* head style starts */
header {
  padding: 20px 35px;
  background-color: #d14242;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url(./img/Kitesurfing_Jpg.jpeg);
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}
header footer h1 {
  font-weight: bold;
  font-size: 36px;
  color: black;
  margin: 0;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
header footer a {
  text-decoration: none;
  /*color: var(--primary-color);*/
}
header nav {
 
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* footer styles start */

footer {
  background-color: #d14242;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #024e76;
}

  /* Style the modal */
.modal {
  display: none; 
  position: fixed; /* Position it in the middle of the screen */
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Add a semi-transparent background */
}

/* Style the modal content */
.modal-content {
  color: #024e76;
  background-color: rgba(252, 225, 56, 0.8);
  border: solid 3px #024e76;
  display: inline-block;
  padding: 25px;
  width: 60%;
  margin: 3.5%;
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 1)
}
input {
  width: 100%;
}
#open-modal-btn {
  background-color: #04AA6D;
  border: 3px solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}



/* Style the close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.carousel-container {
  display: flex;
  width: 100%;
}