* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 80%; /* The width is the 80% of the width of the web page */
  }

#searchForm {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    font-size: 1rem;
    width: 100%;
    border-radius: 25px;
    background-color: #2414d2;
    border: 4px solid;
    font-weight: 300%;
    display: flex;
    justify-content: space-between;
    
}
#searchForm button {
  background-color: #000000;
  border: 3px solid black;
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


/*-----------------CAROUSEL STYLE STARTS-----------------*/

#image-container .slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b06ff;
}

#image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
  margin: 0 5px;
}

 /* ----------------HEADER STYLE STARTS-------------------- */

header {
  padding: 20px 35px;
  background-color: #1b06ff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-position: 80%;*/
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: black;
  margin: 0;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
header a {
  text-decoration: none;
  /*color: var(--primary-color);*/
}
header nav {
 
  margin: 7px 0;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
.logo {
  max-width: 200px;
  border-radius: 50px;
}

/* footer styles start */

footer {
  background: #2330eb;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #024e76;
}

  /* Style the modal */
.modal {
  display: none; 
  position: fixed; /* Position it in the middle of the screen */
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Add a semi-transparent background */
}

#open-modal-btn {
  background-color: #e81010;
  border: 3px solid black;
  padding: 5px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: x-large;
}

/* Style the modal content */
.modal-content {
  background-color: #d14242;
  margin: 10% auto; /* Center it vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}



/* Style the close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


  
  
  
